<h1 class="page-header">Contact Us</h1>

<%= form_for(@contact, url: contact_path) do |f| %>
  <%= f.text_field(:name, placeholder: 'Name') %><br>
  <%= f.text_field(:email, placeholder: 'Email') %><br>
  <%= f.text_area(:question, placeholder: 'Question') %><br>
  <%= f.submit('Say Hi!', class: 'btn btn-success') %>

<% end %>
